<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      <a routerLink="/">
        <button mat-flat-button color="primary">
          <h1>LSTM</h1>
        </button>
      </a>
    </span>
    <a routerLink="/leetcode">
      <button mat-flat-button color="primary">
        LC Summary
      </button>
    </a>
    <a href="/interview">
      <button mat-flat-button color="primary">
        Interview Memo
      </button>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
